PAGERDUTY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PAGERDUTY_ENDPOINT=https://events.pagerduty.com/v2/enqueue

PAGERDUTY_SUMMARY=manual PagerDuty test
PAGERDUTY_PLATFORM=Test
PAGERDUTY_EVENT_TYPE=Test
PAGERDUTY_SEVERITY=warning

PAGERDUTY_TIMESTAMP=

PAGERDUTY_CUSTOM_DETAILS=
PAGERDUTY_SOURCE=
PAGERDUTY_ACCOUNT=
PAGERDUTY_ACCOUNT_NAME=
PAGERDUTY_COMPARTMENT_NAME=
PAGERDUTY_INSTANCE_ID=
PAGERDUTY_REGION=
PAGERDUTY_USER_AGENT=
PAGERDUTY_SOURCE_IP=
PAGERDUTY_DEDUP_KEY=
